html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  border: none;
  color: #f5f5f5;
  background-color: #FF79DA;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 250px;
  border-radius: 50px;
  font-size: 18px;
  padding: 20px;
  margin: 10px auto 30px;
  font-family: 400;
  transition: ease-in-out 1s;
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.15);
  display: block;
}
button:hover {
  transform: scale(1.1);
}

.heart-container:hover > .solid-heart {
  opacity: 1;
  transform: scale(1.1);
}

.solid-heart {
  opacity: 0;
  background: linear-gradient(to top, #FF79DA 30%, #9356DC 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  animation: color;
  transition: 0.5s ease-in;
  position: inherit;
  left: 1px;
}

.fa-2xl {
  line-height: 1em;
}

.heart-container:hover > .regular-heart {
  opacity: 0;
}

@keyframes color {
  0% {
    opacity: 0;
    background-color: linear-gradient(to top, #FF79DA 70%, #9356DC 30%);
  }
  20% {
    background-color: linear-gradient(to top, #FF79DA 60%, #9356DC 40%);
  }
  50% {
    opacity: 0.8;
    background-color: linear-gradient(to top, #FF79DA 50%, #9356DC 50%);
  }
  70% {
    background-color: linear-gradient(to top, #FF79DA 40%, #9356DC 60%);
  }
  100% {
    opacity: 1;
    background-color: linear-gradient(to top, #FF79DA 30%, #9356DC 70%);
  }
}
header {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}
header img {
  width: 50%;
}
@media (min-width: 768px) {
  header {
    width: 50%;
    margin: 25px auto;
  }
}
@media (min-width: 992px) {
  header img {
    width: 30%;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #404040;
  color: #f5f5f5;
}
footer i {
  min-width: 25px;
  margin: 0 10px;
}
footer li * {
  display: inline;
}
footer .footer-title {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  margin: 10px 15px 0;
}
@media (min-width: 768px) {
  footer .footer-title {
    margin: 15px 25px;
  }
}
footer ul li {
  margin: 15px 15px;
  transition: ease-in 100ms;
}
footer ul li:hover {
  color: #c2c2c2;
}
@media (min-width: 768px) {
  footer ul li {
    margin: 15px 25px;
  }
}
@media (min-width: 992px) {
  footer {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.book-menu {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ededed;
}
@media (min-width: 768px) {
  .book-menu {
    border-radius: 25px;
    margin: 25px;
  }
}
.book-menu h1 {
  font-size: 25px;
  margin: 20px;
  font-weight: 1000;
}
.book-menu p {
  margin: 15px;
  font-size: 25px;
  color: grey;
  padding: 0 10px;
  line-height: 1.2;
  font-weight: 200;
}

.paris-text {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  font-size: 15px;
  font-weight: 1000;
  color: #404040;
}
@media (min-width: 768px) {
  .paris-text {
    border-radius: 25px;
  }
}

.fa-location-dot {
  margin-right: 10px;
}

.how-works {
  margin: 0 10px;
}
.how-works h2 {
  font-size: 25px;
  font-weight: 1000;
}
@media (min-width: 768px) {
  .how-works h2 {
    margin: 25px;
  }
}
.how-works .choose, .how-works .create, .how-works .go {
  cursor: pointer;
  background-color: #e6e6e6;
  border-radius: 25px;
  margin: 15px;
  font-size: 18px;
  font-weight: 600;
  padding: 35px;
  display: flex;
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.15);
  transition: ease-in-out 200ms;
}
.how-works .choose:hover, .how-works .create:hover, .how-works .go:hover {
  color: #9356DC;
}
.how-works .choose:hover i, .how-works .choose:hover p, .how-works .choose:hover .number, .how-works .create:hover i, .how-works .create:hover p, .how-works .create:hover .number, .how-works .go:hover i, .how-works .go:hover p, .how-works .go:hover .number {
  transform: scale(1.05);
}
.how-works .choose i, .how-works .create i, .how-works .go i {
  margin-right: 15px;
}
.how-works .choose .number, .how-works .create .number, .how-works .go .number {
  position: absolute;
  margin: -10px -50px;
  padding: 10px 13px;
  font-size: 15px;
  font-weight: 600;
  background-color: #9356DC;
  border-radius: 50px;
  color: #fff;
}
@media (min-width: 768px) {
  .how-works {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .how-works-steps {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 992px) {
  .how-works-steps {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  main {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
  }
}

@media (min-width: 992px) {
  .nav-container {
    width: 30%;
  }
}

.restaurants-container {
  background-color: #ededed;
}
.restaurants-container h2 {
  font-size: 25px;
  font-weight: 600;
  padding: 50px 20px 25px;
}
.restaurants-container article {
  border-radius: 25px;
  margin: 15px;
  overflow: hidden;
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .restaurants-container article {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .restaurants-container article {
    margin: 25px;
    width: 500px;
  }
}
@media (min-width: 768px) {
  .restaurants-container {
    margin: 25px;
    border-radius: 25px;
  }
}
@media (min-width: 992px) {
  .restaurants-container {
    width: 80%;
  }
}

.main-restaurant-card {
  display: flex;
}

@media (min-width: 768px) {
  .restaurants-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    gap: 15px;
  }
}
@media (min-width: 992px) {
  .restaurants-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

figure {
  position: relative;
}
figure .new {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: 600;
  padding: 10px 25px;
  color: green;
}

figure img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}
figcaption .figcaption-text {
  display: flex;
  flex-direction: column;
  margin-top: 5px 0;
  padding: 10px;
  text-align: start;
}
figcaption h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: black;
}

.heart-container {
  cursor: pointer;
  margin-right: 15px;
  position: relative;
}
.heart-container .solid-heart {
  position: absolute;
}

@media (min-width: 768px) {
  body {
    margin: 0 25px;
  }
}
@media (min-width: 992px) {
  body {
    margin: 0;
  }
}

img {
  width: 100%;
}

.restaurant-menu img {
  object-fit: cover;
  height: 700px;
}

.menu-card {
  position: absolute;
  background-color: #e6e6e6;
  margin: -150px 0 0 0;
  height: 100%;
  position: relative;
  z-index: 1;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
}

.restaurant-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  margin: 25px;
}
.restaurant-name h1 {
  font-weight: 1000;
  font-size: 45px;
  font-family: "Shrikhand", cursive;
}

.entrees-cards {
  padding: 20px;
}
.entrees-cards h2 {
  font-size: 25px;
  margin-left: 15px;
}
.entrees-cards h2:after {
  content: "";
  display: block;
  position: relative;
  width: 8%;
  border-bottom: 3px solid #99E2D0;
  padding-top: 8px;
}

@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}
.card {
  background-color: #f5f5f5;
  margin: 25px 15px;
  border-radius: 25px;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.15);
  animation: slide-up 1.5s ease;
  overflow: hidden;
}
.card:hover .fa-check {
  transform: rotate(360deg);
  transition: all 600ms 0.5s;
}
.card:hover .tick-container {
  transform: translate(-150px);
  transition: all 600ms ease-in-out;
}
.card:hover .fee {
  transform: translate(-60px);
  transition: all 600ms ease-in-out;
}
.card .fee {
  position: relative;
  top: 80px;
  font-size: 20px;
}

.meal, .meal-name {
  position: relative;
  padding-bottom: 25px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meal-name {
  font-weight: 1000;
  font-size: 20px;
  margin: 10px 0;
}

.tick-fee-container {
  align-self: flex-end;
  position: relative;
  bottom: 110px;
  right: -20px;
  min-width: 15%;
  font-weight: 1000;
  transition: all 600ms ease-in-out;
}

.tick-container {
  position: relative;
  left: 150px;
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fa-check {
  color: #99E2D0;
  padding: 10px;
  background-color: #fff;
  border-radius: 50px;
  margin: 15px;
}

.card2 {
  animation: slide-up 1.8s ease;
}

.card3 {
  animation: slide-up 2.2s ease;
}