  body{
    @include tablet {
      margin: 0 25px;
    }
  }

  img {
    width: 100%;
   
  }
  .restaurant-menu img{
    object-fit: cover;
    height: 700px;
    
  }

  .menu-card {
    position: absolute;
    background-color: $color;
    margin: -150px 0 0 0;
    height: 100%;
    position: relative;
    z-index: 1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
   
  
  }
  
  .restaurant-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    margin: 25px;
    
    h1 {
      font-weight: $font-weight-bold;
      font-size: 45px;
      font-family: $font-family;
    }
    }


 .entrees-cards {
    padding: 20px;
   
   
   h2 {
    font-size: 25px;
    margin-left: 15px;
    }

   h2:after {
     content:"";
     display: block;
     position: relative;

     width: 8%;
     border-bottom: 3px solid $tertiary-color;
     padding-top: 8px;
   } 
  }

  @keyframes slide-up {
    0%{ transform: translateY(50px); opacity:0
    }
    50%{ opacity: 0.25;
    }
    100% {
       opacity: 1;
    }
  }

.card {
  
  background-color: $white-color;
  margin: 25px 15px;
  border-radius: 25px;
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: $box-shadow;
  animation: slide-up 1.5s ease;
  overflow: hidden;
  
  &:hover{
    .fa-check{
      transform: rotate(360deg);
      transition: all 600ms 0.5s;
    }
    .tick-container{
      transform: translate(-150px);
      transition: all 600ms ease-in-out;
    }
    .fee{
      transform: translate(-60px);
      transition: all 600ms ease-in-out;
    }
    }

  .fee{
    position: relative;
    top: 80px;
    font-size: 20px;

  }
 
 }
 .meal, .meal-name {
  position: relative;
  padding-bottom: 25px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 

 }
 
 .meal-name {
  font-weight: $font-weight-bold;
  font-size: 20px;
  margin: 10px 0; 
  
}
.tick-fee-container {
  align-self: flex-end;
  position: relative;
  bottom: 110px;
  right: -20px;
  min-width: 15%;
  font-weight: $font-weight-bold;
  transition: all 600ms ease-in-out;
 
}
.tick-container {
  position: relative;
  left: 150px;
  height: 100%;
  background-color: $tertiary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.fa-check {
  color: $tertiary-color;
  padding: 10px;
  background-color: #fff;
  border-radius: 50px;
  margin: 15px;
  

}



.card2{
  animation: slide-up 1.8s ease;
 }

.card3 {
  animation: slide-up 2.2s ease;
}




