
footer {
  display: flex;
  flex-direction: column;
  background-color: $dark-grey-color;
  color: $white-color;
  
 i{
   margin: 0 10px;
 }

  li * {
    display:inline;
  }

  .footer-title {
    font-family: $font-family;
    font-size: 30px;
    margin: 10px 15px 0;
    
  }
  ul li{
    margin: 15px 15px;
  }
}
