header {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;

  .fa-arrow-left {
   position: absolute;
   top:30px;
   left: 30px;

    @include mobile {
     top: 10px;

    }
  }
 
  img {
    width: 50%;
    margin-top: 5px;
    
  }
 
  img {
    @include desktop {
      width: 20%;
      margin: 15px;
    }
  }
  
}
