header {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;

  .fa-arrow-left {
   position: absolute;
   left: 5%;
   top:30%;

   
  }
 
  img {
    width: 20%;
    margin: 15px;
    
  }
 
  img {
    @include desktop {
      width: 20%;
      margin: 15px;
    }
  }
  
}
