
.heart-container:hover > .solid-heart {

  opacity: 1;
  transform: scale(1.06)

}

.solid-heart{
  opacity: 0;
  background: linear-gradient(to top, #FF79DA 30%, #9356DC 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  
  
  color: transparent;
  
  
  transition: 0.5s ease-in;
  
  position: inherit;
  left: 1px;
}


.fa-2xl {
  line-height: 1em;
}

