
.heart-container:hover > .solid-heart {

  opacity: 1;
  transform: scale(1.05);

}

.solid-heart{
  opacity: 0;
  background: linear-gradient(to top, #FF79DA 30%, #9356DC 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  .solid-heart:hover{
    transform: scale(0.2);
  }
  /*animation: color;*/
  transition: 0.5s ease-in;
  
  position: inherit;
  left: 1px;
}


.fa-2xl {
  line-height: 1em;
}

/*.heart-container:hover > .regular-heart {
  opacity: 0;
}

/*@keyframes color {
  0% {
    opacity: 0;
    background-color: linear-gradient(to top, #FF79DA 70%, #9356DC 30%) ;
  }
  20%{
    background-color: linear-gradient(to top, #FF79DA 60%, #9356DC 40%) ;
  }
  50% {
    opacity: 0.8;
    background-color: linear-gradient(to top, #FF79DA 50%, #9356DC 50%) ;
  }
  70%{
    background-color: linear-gradient(to top, #FF79DA 40%, #9356DC 60%) ;
  }

  100% {
    opacity: 1;
    background-color: linear-gradient(to top, #FF79DA 30%, #9356DC 70%) ;
  
  }
}*/