
.preloader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $color;

}

.myfood-text-preloader {
  font-family: $font-family;
  font-size: 100px;
  color: $secondary-color;
  position: relative;
   &::after{
    content:"";
    position: absolute;
    left: 0px;
    height: 100%;
    width: 120%;
    border-left: 2px solid $primary-color;
    animation: type 1s steps(8) forwards;
    background-color: $color;
   }
}
 @keyframes type {
  100%{
    left: 120%;
    margin: 0 -65px 0 45px;
    
  }
 }
.welcome-preloader{
  margin: 25px;
  font-family: $font-stack;
  font-size: 40px;
  color: $primary-color;
  animation: slide-up 2s ease;
}
