$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dark-grey-color: #404040;
$light-grey-color: #d3d3d3;
$middle-gray-color: #d8d8d8;
$color: #FAFAFA;
$white-color: #f5f5f5;